/* app css stylesheet */
body {
	font-family: 'PT Sans Caption', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}



.menu {
	list-style: none;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu li  a {
	text-transform: uppercase;	
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu > li {
	display: inline;
}

.menu > li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
	content: "";
	padding: 0;
}
